In [21]:
#List of schools

high_schools=["Huang High School", "Figueroa High School","Shelton High School",
              "Hernandez High School","Griffin High School","Wilson High School", 
              "Cabrera High School","Bailey High School","Holden High School",
              "Pena High School","Wright High School","Rodriguez High School",
             "Johnson High School","Ford High School","Thomas High School"]

In [23]:
#Add the pandas dependency
import pandas as pd

In [25]:
#Create a Pandas Series from a list.
school_series=pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [37]:
#A dictionary og high schools
high_school_dicts=[{"School ID":0, "School name":"Huang High School", "Type":"District"},
                  {"School ID":1,"School name":"Figueroa High School","Type":"District"},
                  {"School ID":2, "School name":"Shelton High School","Type":"Charter"},
                  {"School ID":3, "School name":"Hernandez High School","Type":"District"},
                  {"School ID":4,"School name":"Griffin High School","Type":"Charter"}]

In [38]:
school_df=pd.DataFrame(high_school_dicts)

In [39]:
school_df

   School ID            School name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [40]:
#Three separate lists of information on high schools
school_id=[0,1,2,3,4]

school_name=["HuangHigh School","Figueroa High School",
             "Shelton High School","Hernandez High School",
            "Griffin High School"]

type_of_school=["District","District","Charter","District","Charter"]

In [41]:
#Initialize a new Data Frame.

schools_df=pd.DataFrame()

In [46]:
#Add the list to a new DataFrame
schools_df["School ID"]=school_id

#Print the DataFrame.

schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [49]:
#Create a dictionary of information on high schools.
high_schools_dict={'School ID':school_id,'School Name':school_name,'type':type_of_school}

In [50]:
high_schools_dict_df=pd.DataFrame(high_schools_dict)

In [51]:
high_schools_dict_df

   School ID            School Name      type
0          0       HuangHigh School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [52]:
high_schools_dict_df.columns

Index(['School ID', 'School Name', 'type'], dtype='object')

In [53]:
high_schools_dict_df.index

RangeIndex(start=0, stop=5, step=1)

In [54]:
high_schools_dict_dt.values

NameError: name 'high_schools_dict_dt' is not defined

In [55]:
high_schools_dict_df.values

array([[0, 'HuangHigh School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)